
<label>Which is your favourite colour?</label>
<div class="form-group">
	<label class="checkbox-inline"> <input type="checkbox"
		name="favoriteColour" ng-model="formData.colour.red"> Red
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteColour" ng-model="formData.colour.blue"> Blue
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteColour" ng-model="formData.colour.green"> Green
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteColour" ng-model="formData.colour.burgundy">
		Burgundy
	</label>
</div>
<label>Which is your favourite Cuisine?</label>
<div class="form-group">
	<label class="checkbox-inline"> <input type="checkbox"
		name="favoriteCuisine" ng-model="formData.cuisine.chinese">
		Chinese
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteCuisine" ng-model="formData.cuisine.mughlai">
		Mughlai
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteCuisine" ng-model="formData.cuisine.southindian">
		SouthIndian
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteCuisine" ng-model="formData.cuisine.italian">
		Italian
	</label>
</div>
<label>Which is your preffered Mobile OS?</label>
<div class="form-group">
	<label class="checkbox-inline"> <input type="checkbox"
		name="favoriteMobile-OS" ng-model="formData.mobile-os.android">
		Android
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteMobile-OS" ng-model="formData.mobile-os.ios">
		IOS
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteMobile-OS" ng-model="formData.mobile-os.windows3">
		Windows3
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="favoriteMobile-OS" ng-model="formData.mobile-os.firefox-os1">
		Firefox-OS1
	</label>
</div>
<label>Which is the most popular consumer brand in India?</label>
<div class="form-group">
	<label class="checkbox-inline"> <input type="checkbox"
		name="Popular brand" ng-model="formData.popular brand.gsk">
		GSK
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="Popular brand" ng-model="formData.popular brand.itc">
		ITC
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="Popular brand" ng-model="formData.popular brand.pidlite">
		Pidlite
	</label> <label class="checkbox-inline"> <input type="checkbox"
		name="Popular brand" ng-model="formData.popular brand.amul">
		Amul
	</label>
</div>
<br><br>
   <a type="SUBMIT" class="btn btn-default" href="Results.html">SUBMIT</a>

